.chat-main
 .chat-main__group-info
  .chat-main__group-info__name
   %h2{class:"chat-main__group-info__name__current"}
    hogehoge
   %ul{class:"chat-main__group-info__name__member-list"}
    Member :
    %li{class:"chat-main__group-info__name__member-list__member"}
     東田
    %li{class:"chat-main__group-info__name__member-list__member"}
     三好
  .chat-main__group-info__edit
   = link_to "#", class: "chat-main__group-info__edit-btn" do
    Edit
 .chat-main__message-list
  .chat-main__message-list__message
   .chat-main__message-list__message__upper-info
    %p{class:"chat-main__message-list__message__upper-info__talker"} masa
    %p{class:"chat-main__message-list__message__upper-info__date"} 2020/04/21(Tue) 10:57:59
   %p{class:"chat-main__message-list__message__text"}こんにちは
  .chat-main__message-list__message
   .chat-main__message-list__message__upper-info
    %p{class:"chat-main__message-list__message__upper-info__talker"} masa
    %p{class:"chat-main__message-list__message__upper-info__date"} 2020/04/21(Tue) 10:57:59
   %p{class:"chat-main__message-list__message__text"}こんにちは
  .chat-main__message-list__message
   .chat-main__message-list__message__upper-info
    %p{class:"chat-main__message-list__message__upper-info__talker"} masa
    %p{class:"chat-main__message-list__message__upper-info__date"} 2020/04/21(Tue) 10:57:59
   %p{class:"chat-main__message-list__message__text"}こんにちは
 .chat-main__message-form
  %form.chat-main__message-form__new_message
   .chat-main__message-form__new_message__input-box
    %input{class: "chat-main__message-form__new_message__input-box__text",placeholder:"type a message",type:"text"}
    %label{class: "chat-main__message-form__new_message__input-box__image"}
     = icon('fa', 'image')
     %input{class:"chat-main__message-form__new_message__input-box__image__file",type: "file"}
   %input{class: "chat-main__message-form__new_message__submit",type:"submit",name:"comit",value:"Send"}