.side-bar
 .side-bar__header
  .side-bar__header__box
   %p{class: "side-bar__header__box__user-name"}
    konosuke
   %ul.side-bar__header__box__menu
    %li{class: "side-bar__header__box__menu__new"}
     = link_to "#", class: "side-bar__header__box__menu__new" do
      = icon('far', 'edit', class: "side-bar__header__box__menu__new")
    %li{class: "side-bar__header__box__menu__edit"}
     = link_to "#", class: "side-bar__header__box__menu__edit" do
      = icon('fa', 'cog', class: "side-bar__header__box__menu__edit")
 .side-bar__group-list
  .side-bar__group-list__group
   %p{class:"side-bar__group-list__group__item"}
    a
   %p{class:"side-bar__group-list__group__latest-message"}
    aaaaaaa
  .side-bar__group-list__group
   %p{class:"side-bar__group-list__group__item"}
    b
   %p{class:"side-bar__group-list__group__latest-message"}
    bbbbbbb
  .side-bar__group-list__group
   %p{class:"side-bar__group-list__group__item"}
    c
   %p{class:"side-bar__group-list__group__latest-message"}
    ccccccc
  .side-bar__group-list__group
   %p{class:"side-bar__group-list__group__item"}
    d
   %p{class:"side-bar__group-list__group__latest-message"}
    ddddddd



